body {
  min-height: 100vh;
  border: 1px solid yellow;
}

h1 {
  padding: 20px 0px;
  width: 100%;
  margin: auto;
  border: 1px solid white;
  text-align: center;
}

.please span:nth-child(2n+1) {
  color: lightgreen;
}
/*
.please span:nth-child(2) {
  color: lightgreen;
}

.please span:nth-child(3) {
  color: white;
}

.please span:nth-child(4) {
  color: orange;
}*/