.title--box {
  border: 1px solid red;
}

.div--form {
  width: 600px;

  border: 1px solid black;
}

form {
  border: 1px solid orange;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1.4rem;
}

input {
  color: black;
  items-align: center;
}